.hero {
  &__image-cover {
    position: relative;
  }

  &__caption {
    position: absolute;
    top: 300px;
    left: 20px;
  }

  &__caption h2,
  h1 {
    font-family: $space-mono;
    font-weight: 400;
    color: $white;
  }

  &__caption h2 {
    font-size: 13px;
  }

  &__caption h1 {
    font-size: 16px;
  }

  &__caption p {
    color: $white;
    font-size: 12px;
    font-weight: 400;
    width: 280px;
    line-height: 20px;
    margin: 20px 0;
  }

  &__images-slider {
    display: flex;
    justify-content: center;
    font-family: $space-mono;
    align-items: center;
    margin: 20px;
  }

  &__images-slider-line {
    border-top: 2px solid $light-gray;
    width: 40px;
    margin: 0 10px;
  }
}
